<div id='headerbg'></div>
<!-- ======= Navbar======= -->
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar-brand logo p-0" routerLink="">
            <img src="/assets/logo/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-items-start" id="navbarNavDropdown">
            <ul class="navbar-nav ">
                <li class="nav-item icon">
                    <img src="/assets/icon/header/question-mark-circle.png" alt="">
                </li>
                <li class="nav-item">
                    <a class="nav" routerLink="Help">Yardım</a>
                </li>
                <li class=" bracket">|</li>

                <li class="nav-item icon">
                    <img src="/assets/icon/header/plane-ticket-svgrepo-com 1.png" alt="">
                </li>
                <li class="nav-item">
                    <a class="nav" routerLink="Help">Bilet İşlemleri</a>
                </li>
                <li class=" bracket">|</li>
                <li class="nav-item icon">
                    <img src="/assets/icon/header/change-file-svgrepo-com 1.png" alt="">
                </li>
                <li class="nav-item">
                    <a class="nav" routerLink="Help">İptal & İade</a>
                </li>
                <li class=" bracket">|</li>
                <li class="nav-item icon">
                    <img src="/assets/icon/header/user.png" alt="">
                </li>
                <li class="nav-item">
                    <a class="nav" routerLink="Help">Hesabım</a>
                </li>
                <li class=" bracket">|</li>
                <li class="nav-item">
                    <div class="d-flex flex-column ">
                        <div class="contact">Müşteri İletişim merkezi</div>
                        <div class="row">
                            <div class="col-4 contact-icon"><img src="/assets/icon/header/Group 18150.png" alt=""></div>
                            <div class="co-8 contact-number">444 0 375</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar-->